@font-face {
  font-family: "digital";
  src: url("digital-7.ttf");
}

html {
  background-color: #101010;
  color: red;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.clock {
  font-family: "digital";
  font-weight: 300;
  font-size: 400px;
  text-align: center;
  margin-bottom: 15px;
}

.date {
  font-family: "digital";
  font-weight: 300;
  font-size: 100px;
  text-align: right;
  margin-bottom: 15px;
}

.weather {
  text-align: right;
}
